{% include navigationstyle.html %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!--088278-->
<link rel="stylesheet" href="style.css">
<header>
  <nav>
    <ul class="nav__links">
      <li><a href="./">Home</a></li>
      <li><a href="./lessons">Lesson Plans</a></li>
      <li><a href="./about-us">About Us</a></li>
      <li><a href="./contact-us">Contact US</a></li>
    </ul>
  </nav>
  <p class="menu" style="color: white;">Menu</p>
  {{ include.content }} 
</header>

<div class="overlay">
  <a class="close">&times;</a>
  <div class="overlay__content">
      <a href="./">Home</a>
      <a href="./lessons">Lesson Plans</a>
      <a href="./about-us">About Us</a>
      <a href="./contact-us">Contact US</a>
  </div>
</div>

<script>
  const doc = document;
  const menuOpen = doc.querySelector(".menu");
  const menuClose = doc.querySelector(".close");
  const overlay = doc.querySelector(".overlay");

  menuOpen.addEventListener("click", () => {
    overlay.classList.add("overlay--active");
  });

  menuClose.addEventListener("click", () => {
    overlay.classList.remove("overlay--active");
  });
</script>